<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar una nueva categoria</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <form action="/guardacategorias" method="post" enctype="multipart/form-data">
        <div class="card">
            <div class="header">
                CREACION DE UNA NUEVA CATEGORIA
            </div>
            <div class="card-body">
                <h5 class="card-title">Datos de la categoria</h5>
                <p class="card-text">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input id="nombre" required class="form-control" type="text" name="nombre">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Guardar">
                        <a href="/categorias">Regresar</a>
                    </div>
                </p>
                <h3>{{men}}</h3>
            </div>
        </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>